* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    line-height: 1.5;
}

.mt-16 {
    margin-top: 16px;
}

.p32 {
    padding: 32px 0;
}

.mt-8 {
    margin-top: 8px;
}

.pd-32 {
    padding: 32px 0;
}